.spinner {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  margin: 60px auto;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid rgb(46, 204, 99);
  border-right: 5px solid transparent;
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
