@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  background: url('./assets/images/plane1.jpg') no-repeat;
  background-position: center;
}
